/**
 * Site header
 */
 %flex-box {
    position: relative;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
 }
.site-header {
    @extend  %flex-box;
    min-height: 4*$spacing-unit;
    background-color: $accent-color;
    color: $background-color;
}

.site-title {
    font-size: $header-font-size;
    line-height: 0.75;
    margin-bottom: 0;
    color: $background-color;
    font-family: "BlackHPLHS", Blackletter, serif;
}

/**
 * Events
 */

.event {
    padding: $spacing-unit 0;
    font-family: "Roboto Condensed", Roboto Condensed, Roboto, sans-serif;
    text-transform: uppercase;
    font-size: $header-font-size;
    letter-spacing: -1px;
    line-height: 1.2;
    border-bottom: solid 2px $accent-color;

    &:hover {
        background: lighten(yellow, 20);
    }

    a {
        display: block;
    }

    .wrapper {
        @extend  %flex-box;
    }
    .event-time {
        -ms-flex: 1;
        -moz-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: right;
        color: invert($accent-color);
        .event-ampm {
            position: relative;
            font-weight: 700;
            font-size: $header-font-size/2;
            top:-13px;
        }
    }

    .event-name{
        letter-spacing: 0;
        text-transform: none;
        font-family: initial;
        font-size: $base-font-size;
        font-style: italic;
        color: $text-color;
        -moz-hyphens: auto;
        -webkit-hypens:auto;
        hyphens: auto;

        .event-location {
            color: $accent-color;
        }
    }
}